<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/foursquarelogo.png" type="image/x-icon">
    <title>This We Believe</title>
</head>
<body>
    <p class="head text-center mt-5 mb-4">This is what we believe as a movement, the twenty-two (22) Tenets of the Foursquare Gospel Faith</p>
    <div class="card-container mt-5">
        <div class="card card-1" style="width: 18rem;">
        <img src="../images/aaron-burden-9zsHNt5OpqE-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">The Holy Scriptures</h5>
          <p class="card-text text-center">We believe that the Bible is God-inspired; perfect, with no mistakes; that God told certain men thousands of years ago what to write in it; that it is there to help us and to show everybody Jesus-the Son of God, the Savior of mankind; that it tells people how to live and be saved. (Matt. 24:35;2 Timothy 3:16,17; Psa. 119:105; 2Pet. 1:19-21; 2Tim. 2:15).</p>
          <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
        </div>
        </div>
        <div class="card card-2" style="width: 18rem;">
          <img src="../images/god.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">The Eternal Godhead</h5>
            <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
        </div>
        </div>
          <div class="card card-3" style="width: 18rem;">
            <img src="../images/fom.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">The Fall of Man</h5>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
            </div>
      </div>
      <div class="card card-3" style="width: 18rem;">
        <img src="../images/POS.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">The Plan of Salvation</h5>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
        </div>
  </div>
  <div class="card card-3" style="width: 18rem;">
    <img src="../images/sthroughgrace.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Salvation Through Grace</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/randa.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Repentance and Acceptance</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/newbirth.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The New Birth</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/dcl.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Daily Christian Living</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/baptism.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Baptism and The Lord's Supper</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/holysp.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Baptism with The Holy Spirit</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/spfilled.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Spirit-Filled Life</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/fruuit.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Gifts and Fruit of the Spirit</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/Moderation.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Moderation</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/healing.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Divine Healing</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/the-second-coming-of-christ.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Second Coming of Christ</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/cr.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Church Relationship</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/government.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Civil Government</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/fjudge.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Final Judgement</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/heaven.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Heaven</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/hell.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Hell</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/evangelism.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Evangelism</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/tithe.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Tithes and Offerings</h5>
      <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>