<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/foursquarelogo.png" type="image/x-icon">
    <title>This We Believe</title>
</head>
<body>
    <p class="head text-center mt-5 mb-4">This is what we believe as a movement, the twenty-two (22) Tenets of the Foursquare Gospel Faith</p>
    <div class="card-container mt-5">
        <div class="card card-1" style="width: 18rem;">
        <img src="../images/aaron-burden-9zsHNt5OpqE-unsplash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">The Holy Scriptures</h5>
          <p class="card-text text-center">We believe that the Bible is God-inspired; perfect, with no mistakes; that God told certain men thousands of years ago what to write in it; that it is there to help us and to show everybody Jesus-the Son of God, the Savior of mankind; that it tells people how to live and be saved. (Matt. 24:35;2 Timothy 3:16,17; Psa. 119:105; 2Pet. 1:19-21; 2Tim. 2:15).</p>
          <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
        </div>
        </div>
        <div class="card card-2" style="width: 18rem;">
          <img src="../images/god.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">The Eternal Godhead</h5>
            <p class="card-text text-center">(Deut. 6:4; John 1:1-3; Matt.1: 23; 1John 5:7; Isa.9: 6; 2 Corinthians 13:14; 1Jn. 5:7).</p>
            <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
        </div>
        </div>
          <div class="card card-3" style="width: 18rem;">
            <img src="../images/fom.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">The Fall of Man</h5>
              <p class="card-text text-center">We believe that man was created in the image of God, but that by voluntary disobedience he fell from perfection. (Gen1: 27; Gen 3:1-24; Rom. 5:12; Rom. 5:19)</p>
              <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
            </div>
      </div>
      <div class="card card-3" style="width: 18rem;">
        <img src="../images/POS.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">The Plan of Salvation</h5>
          <p class="card-text text-center">We believe that while we were yet sinners Christ died for us, signing the pardon of all who believe on Him-Jesus. (John 3:16; Romans 5:8; Isa. 55:7; Heb. 7:25;).</p>
          <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
        </div>
  </div>
  <div class="card card-3" style="width: 18rem;">
    <img src="../images/sthroughgrace.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Salvation Through Grace</h5>
      <p class="card-text text-center">We believe that we have no righteousness and must come to God pleading the righteousness of Christ (Ephesians 2:8;Rom. 3:10; Rom. 3:23; Isa. 64:6; John 6:47; Eph. 2:13).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/randa.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Repentance and Acceptance</h5>
      <p class="card-text text-center">We believe that upon sincere repentance, and a whole-hearted acceptance of Christ, we are justified before God (I John 1:9; Rom. 5:1,2; Rom. 8:1; Luke 1:77-79; 2 Corinthians 5:17; Galatians 2:20).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/newbirth.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The New Birth</h5>
      <p class="card-text text-center">We believe that the change, which takes place in the heart and life at conversion, is a very real one (John 3:3; 2Cor. 5:17; John 15:19; Gal. 2:20; Psa. 1:1,2).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/dcl.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Daily Christian Living</h5>
      <p class="card-text text-center">We believe that it is the will of God that we be sanctified daily, growing constantly in the faith (Hebrews 6:1; 1Thess. 4:3; 2Cor. 7:1; Heb. 6:1; Rom. 8:5; Isa. 35:8)..</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/baptism.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Baptism and The Lord's Supper</h5>
      <p class="card-text text-center">We believe that baptism by immersion in water is a sign to the world of our new birth; that, just as Christ was placed in consider our old self and nature dead and so are we “buried” in water and come up again to eternal life. (Matt.28: 19;Rom.6:4; Acts 2:41).
        We believe in the commemoration of the Lord’s Supper by the symbolic use of the bread and juice of the vine (I Corinthians 11:24, 25; 1Cor. 11:26; 1Cor. 11; 28; 2Cor. 13:5)..</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/holysp.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Baptism with The Holy Spirit</h5>
      <p class="card-text text-center">We believe that the Baptism with the Holy Spirit is to endue the believer with power; and that His incoming is after the same manner as in Bible days (Acts 2:4)</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/spfilled.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Spirit-Filled Life</h5>
      <p class="card-text text-center">We believe that it is the will of God that we walk in the Spirit daily (Ephesians 4:30-32).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/fruuit.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Gifts and Fruit of the Spirit</h5>
      <p class="card-text text-center">We believe that the Holy Spirit has gifts to bestow upon the Christian; and that we should show spiritual fruit as evidence of a Spirit-filled life (I Corinthians 12:1-11; Galatians 5:22).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/Moderation.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Moderation</h5>
      <p class="card-text text-center">We believe that the experience and daily walk of the believer should never lead him into extremes of fanaticism (Philippians 4:5).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/healing.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Divine Healing</h5>
      <p class="card-text text-center">We believe that divine healing is the power of Christ to heal the physically sick in answer to the prayer of faith (James 5:14-16).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/the-second-coming-of-christ.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Second Coming of Christ</h5>
      <p class="card-text text-center">We believe that the second coming of Christ is personal and imminent (I Thessalonians 4:16, 17).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/cr.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Church Relationship</h5>
      <p class="card-text text-center">We believe it is our sacred duty to identify ourselves with the visible Body of Christ (Acts 16:5; Hebrews 10:25).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/government.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Civil Government</h5>
      <p class="card-text text-center">We believe that rulers should be upheld at all times except in things opposed to the will of God (Romans 13:1-5).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/fjudge.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">The Final Judgement</h5>
      <p class="card-text text-center">We believe that all shall stand some day before the judgment seat of God, and there receive eternal life or death (2 Corinthians 5:10).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/heaven.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Heaven</h5>
      <p class="card-text text-center">We believe that Heaven is the glorious eternal home of born-again believers (John 14:1-3; Revelation 7:15-17).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/hell.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Hell</h5>
      <p class="card-text text-center">We believe that hell is the place of eternal torment for all who reject Christ as the Savior (Revelation 20:10,15).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/evangelism.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Evangelism</h5>
      <p class="card-text text-center">We believe that soul winning is the most important responsibility of the Church (James 5:20).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
<div class="card card-3" style="width: 18rem;">
    <img src="../images/tithe.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Tithes and Offerings</h5>
      <p class="card-text text-center">We believe that the method ordained of God for the support and spread of His cause is by giving of tithes and free-will offerings (Malachi 3:10; 2 Corinthians 9:7).</p>
      <p  class="text-center"><a href="#"class="btn btn-primary text-center">Read more</a></p>
    </div>
</div>
      </div>
      <div class="contact" id="contact">
        <p class="footer-div">&#169;CopyRight 2021. Made By Zuka-Dev.</p>
        <div class="icons">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/Zuka-Dev"><i class="fab fa-github"></i></a>
            
          
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aa6ced8eac.js" crossorigin="anonymous"></script>
</body>
</html>